body {
  font-size: 85%;
}

table {
  margin-bottom: 38px;
  width: 100%;

  span {
    color: #999;
    display: inline-block;
    font-size: 80%;
    padding: 6px 0 0 15px;
  }
}

.toggleButton {
  color: #000;
  padding: 0 2px;
  text-decoration: none;

  &.on { color: #1cb841; }
  &.off { color: #Ca3c3c; }
}

.button-success { background: #1cb841; color: #fff; }
.button-error { background: #Ca3c3c; color: #fff; }

#functions {
  background-color: #191818;
  color: #777;
  bottom: 0;
  height: 38px;
  position: fixed;
  width: 100%;

  .function-group {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: 38px;
    padding: 0 1em;

    &#filter {
      text-align: left;
      width: 33.33%;
    }

    &#bulk {
      padding: 0.35em 1em 0.75em;
      text-align: right;
      width: 66.66%;

      .button-group {
        display: inline-block;
        padding-left: 0.5em;

        .pure-button {
          float: left;
          margin-right: 4px;
        }
      }
    }
  }
}
