body {
  font-size: 85%;
}

table {
  width: 100%;
}

table span {
  color: #999;
  display: inline-block;
  font-size: 80%;
  padding: 6px 0 0 15px;
}

.toggleButton {
  color: #000;
  text-decoration: none;
  padding: 0 2px;
}

  .toggleButton.on {
    color: #3c0;
  }

  .toggleButton.off {
    color: #f00;
  }
